//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,600&family=Play:wght@400;700&family=Roboto:wght@300;400;500;700&family=Ubuntu+Mono&display=swap');

.text-13 {
  font-size: 13px;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-oswold {
  font-family: 'Oswald', sans-serif;
}

@font-face {
  font-family: 'Circle';
  src: url('./fonts/Circe-Regular.woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Circle';
  src: url('./fonts/Circe-Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Circle';
  src: url('./fonts/Circe-Light.woff');
  font-weight: 300;
}

.font-circle {
  font-family: 'Circle', sans-serif;
}
