@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./tailwind-unreset.scss";

@import "./fonts.scss";
//@import "./scrollbar.scss";
//@import "../js/components/PageTemplates/fullpage";
@import "./table.scss";
@import "./image-gallery.scss";

.image-overlay {
  -webkit-box-shadow: inset 0 90px 200px 50px rgba(0, 0, 0, .5);
  box-shadow: inset 0 90px 200px 50px rgba(0, 0, 0, 0.5);
}

.scroll-container {
  scroll-behavior: smooth;
}

// Menu animation
.menu-item {
  display: block;
  padding-left: 28px;
  position: relative;
  transition: all .3s;
  max-width: 80vw;

  &:before {
    content: '';
    display: block;
    width: 27px;
    height: 2px;
    background-color: #f82f38;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: -15px;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  &.active-menu-item, &:hover {
    color: #f82f38;
    transform: translateX(20px);

    &:before {
      opacity: 1;
    }
  }
}